.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding: 12px 24px;
  color: #fff;
  background-color: #fff;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.toastWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 40px;
}

.link {
  color: #1900d5;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  opacity: 0.8;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  padding: 8px 12px;
}

.input::placeholder {
  font: inherit;
  font-size: 16px;
}

.button {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  border: none;
  background-color: #0007d5;
  color: #f6f8f9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}

.button:hover {
  background-color: #0003b3;
}
